{% extends 'base.html.twig' %}

{% block title %}ajouter une catégrie{% endblock %}

{% block body %}
<div class="container m-4">
    <h1 class="txt-center"> Ajoute Catégorie</h1>
    {{ form(form) }}
</div>
{% endblock %}
