{% extends 'user.html.twig' %}

{% block title %}modifier le mot de passe
{% endblock %}

{% block body %}
	<div class="container m-4">
		<h1 class="txt-center">
			modifier les informations de Profile</h1>

		<form method="post" accept-charset="UTF-8">
			{% for flashError in app.flashes('error') %}
				<div class="alert alert-error p-3 my-2 rounded-2 error" role="alert">{{ flashError }}</div>
			{% endfor %}
			<div class="form-field">
				<label for="pass">nouveau mot de passe</label>
				<input type="password" id="pass" name="pass" class="form-control rounded-1"/>
			</div>
			<div class="form-field">
				<label for="pass1">confirmer le mot de pass</label>
				<input type="password" id="pass1" name="pass1" class="form-control rounded-1"/>
			</div>

			<input type="submit" class="btn rounded-1 blue shadow-1" value="Submit">
		</form>


	</div>
{% endblock %}
