{% extends 'user.html.twig' %}

{% block title %}modifier le profile{% endblock %}

{% block body %}
<div class="container m-4">
    <h1 class="txt-center"> modifier le mot de passe</h1>
    {{ form(form) }}
</div>
{% endblock %}
