<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar airforce dark-1">
            <a href="{{ path('app_home') }}" target="_blank" class="navbar-brand">Annonces</a>
            <div class="navbar-menu ml-auto">
                <a class="navbar-link active" href="#">Acueil</a>
                <a class="navbar-link" href="#">Link</a>
                <a class="navbar-link" href="#">Link</a>
            </div>
        </nav>
        
        {% block body %}{% endblock %}
        <footer class="footer airforce">
            Copyright © 2020 - Example
        </footer>
        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/js/axentix.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
